<template>
    <div class="container code-container">
        <b-row class="py-4">
            <b-col sm="12" class="mb-3">
                <h5>Make your links shorter</h5>
            </b-col>
        </b-row>
        <b-row class="code-input py-4">
            <b-col sm="10" class="mb-2">
                <input
                    type="text"
                    placeholder="The long URL goes here"
                    @input="update"
                    class="code-input-input"
                    v-bind:class="{
                            'form-control':true,
                            'is-invalid' : !valid && wasValid
                        }"
                />
            </b-col>
            <b-col sm="2" class="">
                <b-button
                    class="button-small-text"
                    style="width: 100%;"
                    variant="dark"
                    @click="convert"
                    :disabled='isDisabled'
                >
                    Shorten
                </b-button>
            </b-col>
            <b-col sm="12">
                <div class="invalid-feedback bad-url m-1">A valid URL is required</div>
                <div v-if="valid"class="good-url m-1">Valid URL</div>
            </b-col>
            <b-col sm="10" class="text-center">
                <div v-if="displayResult" class="result-div p-4">
                    Your shortened URL is:
                    <a
                        :href="result"
                        target="_blank"
                    >{{ result }}</a>
                </div>
            </b-col>
        </b-row>

        <b-row class="py-4">
            <b-col sm="12" class="mt-3">
                <h5>Converted URL history</h5>
            </b-col>
        </b-row>

        <b-table small :fields="fields" :items="urls" responsive="sm">
            <template v-slot:cell(shortUrl)="data">
                <a :href="data.value" target="_blank">{{ data.value }}</a>
            </template>
            <template v-slot:cell(url)="data">
                <a :href="data.value" target="_blank">{{ data.value }}</a>
            </template>
        </b-table>

    </div>
</template>
<style>
    form-control {
        border: 2px solid green;
    }
    .code-input{
        background-color: cornflowerblue;
        border-radius: 10px;
    }
    .good-url{
        color: white;
        font-size: small;
    }
    .bad-url{
        color: firebrick;
        font-size: small;
    }
    .result-div{
        background-color: white;
        border-radius: 5px;
        font-size: 1.4rem;
    }
    .button-small-text{
        font-size: .9em;
    }
</style>

<script>
    import axios from 'axios';
    import _ from 'lodash';

    export default {
        data: () => {
            return {
                input: '',
                displayResult: false,
                result: '',
                valid: false,
                wasValid: false,
                urls: [],
                fields: [
                    { key: 'shortUrl', label: 'Shortened URL' },
                    { key: 'url', label: 'Original URL' }
                ]
            };
        },
        beforeMount() {
            this.getUrls();
        },
        computed: {
            isDisabled: function(){
                return !this.valid;
            }
        },
        methods: {
            convert: async function() {
                // Make a request to the back-end.
                let converted = await axios
                    .post(
                        `convert`,
                        { url: this.input },
                        { headers: { 'content-type': 'application/json' } }
                    )
                    .catch(e => {
                        console.log('Caught.');
                        console.log('Error: ', e);
                    });
                console.log(converted);
                if(converted.data.hasOwnProperty('shorty')){
                    this.result = converted.data.shorty;
                    this.displayResult = true;
                    this.getUrls();
                }
            },
            getUrls: async function() {
                let urls = await axios
                    .get('urls')
                    .catch(e => {
                        console.log('Caught.');
                        console.log('Error: ', e);
                    });
                if(urls.hasOwnProperty('data') && urls.data.hasOwnProperty('urls')){
                    this.urls = urls.data.urls;
                }

            },
            validate: function(url) {
                let regex = /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&=]*)/;

                return regex.test(url);
            },
            update: _.debounce(function(e) {
                this.input = e.target.value;
                if(this.validate(this.input)){
                    console.log('Valid');
                    this.valid = true;
                    this.wasValid = true;
                } else {
                    this.valid = false;
                    console.log('Invalid.');
                }
            }, 300),
        }
    }
</script>
